<div class="col-md-offset-2">
    <div class="col-md-8 well" >
    <h1><%= link_to  note.title, note   %></h1>
    <h3><%= note.city_name%></h3>
    <p> <%= note.content %></p>
    <div>
      <span class="badge">Posted <%= Time.now.utc %></span>
      <div class="pull-right">
      <span class="label label-default">food</span>
      <span class="label label-primary">travel</span>
      <span class="label label-success">adventure</span>
      <span class="label label-info">fun</span>
      <span class="label label-warning">outing</span>
      <span class="label label-danger">blissful</span></div>
    </div>
    <hr>
    </div>
</div>