<p id="notice"><%= notice %></p>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <%= render :partial => 'cities/city' %>
      </div>
    <%= render :partial => @notes %>
    <br>
  </div>
