<p id="notice"><%= notice %></p>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="text-center">
      <%=will_paginate @notes , renderer: BootstrapPagination::Rails%>
    </div>
        <%= render :partial => @notes %>
    <br>
  </div>

