
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
      <div>
        <%= render 'form' %>
      </div>

    </div>
  </div>
    </div>
