<% cache do %>

<article class="col-xs-4 col-sm-60 col-md-4">
  <div class="panel panel-default">
    <div class="panel-body">

      <%= link_to blog , class:'zoom'  do %>
          <%= image_tag blog.picture_url.to_s , :style => "width:400px"  if blog.picture? %>
          <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
          <%=blog.author%>
      <% end %>

    </div>
    <div class="panel-footer">
      <h4><%= link_to_unless_current blog.title, blog %></h4>
                    <span class="pull-right">
                        <i id="like1" class="glyphicon glyphicon-thumbs-up" onclick="increaseCount()" ></i> <div id="like1-bs3"></div>
                        <i id="dislike1" class="glyphicon glyphicon-thumbs-down"></i> <div id="dislike1-bs3"></div>
                    </span>
      <br/>

    </div>
  </div>
  
</article>

<% end %>

<script type="application/javascript">

  function increaseCount(){

  }
    //= require twitter/bootstrap
    $(document).on('page:load', function()  {
        $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function(){
            var $this = $(this),
                    c = $this.data('count');
            if (!c) c = 0;
            c++;
            $this.data('count',c);
            $('#'+this.id+'-bs3').html(c);
        });
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    });
</script>
    