

<p id="notice"><%= notice %></p>


<div>
<h1>Listing Blogs</h1>

  <div class="container mt40">
    <section class="row">
      <div class="text-center">
        <%=will_paginate @blogs , renderer: BootstrapPagination::Rails%>
      </div>
<%= render :partial=>@blogs %>


    </section>
  </div>
</div>
<br/>

