<p id="notice"><%= notice %></p>

<div>
<h1>Listing Blogs</h1>

  <div class="container mt40">
    <section class="row">
      <%# =will_paginate @blogs  %>
<%= render :partial => @blogs %>


    </section>
  </div>
</div>
<br/>

