<p id="notice"><%= notice %></p>

<h1> Your Categories are:</h1>

<table>
  <thead>
    <tr>
      <th>NOTES</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @allcategories.each do |category| %>
      <tr>
        <%= check_box_tag(:category) %>
        <%= label_tag(:category, category.name) %>
      </tr><br/>
  <% end %>
  </table>

<br>

<%= link_to 'New Category', new_category_path %>
