<div class="center jumbotron">
  <h1>Howdy, <%= @user.first_name %></h1>

  <h2>
    This is homepage
  </h2>

  <%= link_to "Let's take a tour", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to "Check my profile", "footprints/show" %>
