<p id="notice"><%= notice %></p>


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class=  "center jumbotron vertical-center">

        <form class="form-horizontal" role="search" action="/cities/search">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search" name="search" id="search">
            <div class="input-group-btn">
              <button class="btn btn-lg btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>

<!-- Display city description -->
<p>
<div class="col-md-offset-2">

  <% @cities.each do |city| %>

      <%= city.city_desc %>
  <% end %>
    </div>
      </p>


  </div>


<div class="col-lg-14">
  <div class="col-md-offset-2">
  <h3>Notes</h3>

</div>
</div>

</form>

