<tr><td><%=image_tag(category.name+".jpg",:class => "img-thumbnail", height: '300', width: '300') %></td></tr>
<tr><td><%= check_box_tag 'cat[]',category.name, (current_user.categories.include? category) %></td>
<td><%= category.name %></td></tr><br/>
