<td><%=image_tag(category.name+".jpg",:class => "img-thumbnail", height: '400', width: '400') %></td>
<td><%= check_box_tag 'cat[]',category.name, (current_user.categories.include? category) %></td>
<td><%= category.name %></td>
